.Image-Country-Prediction{
    width: 25px;
    height: 25px;
    margin-right: 4px;
    margin-left: 4px;
}
.Container-Header-Prediction{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Modal-Form-Quinela .Box-Prediction-Ok{
    width: 10px;
    height: 10px;
    background-color: #baffc9;
}

.Modal-Form-Quinela .Box-Prediction-Failed{
    width: 10px;
    height: 10px;
    background-color: #ffb3ba;
}