
.Table-Quinela .Column-Team{
    display: flex;
    justify-content: center;
    column-gap: 1px;
    align-items: center;
    flex-direction: row;
}
.Table-Playoff{
    font-weight: 600;
}

.Modal-Positions .ant-modal-content{
    padding: 20px 2px !important;
}