.Container-Table-Quinela .ant-table-cell{
    padding: 8px 8px !important;
    font-size: 11px !important;
}
.Title-Table-Quinela{
    display: flex;
    justify-content: center;
    margin-top: 7px !important;
    color: #5e2129 !important;
    font-weight: 600 !important;
}

.Container-Table-Quinela .ant-table-row .ant-table-cell{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}


.Table-Quinela .ant-table-thead .ant-table-cell{
    background-color: #5e2129 !important;
    color: #FFFFFF;
}

.Table-Quinela .Color-Succes{
    background-color:#baffc9;
}

.Table-Quinela .Color-Wrong{
    background-color:#ffb3ba;
}

.Container-Info-Points{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #5e2129;
}

.Container-Info-Points .Title-Info{
    font-weight: bold;
}

.Container-Select-Filter{
    margin: 10px 10px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}