body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.Container-Flex-Center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-spin-dot-item {
	background-color: #5e2129 !important;
}

.ant-spin-text { 
	color: #5e2129 !important;
	text-align: center;
}

.ant-spin{
}